<configuration>

    <!-- Cho phép %clr, %highlight -->
    <conversionRule conversionWord="clr"
                    class="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex"
                    class="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <!-- Converter emoji -->
    <conversionRule conversionWord="emojiLevel"
                    class="vn.aeoc.packages.common.logger.EmojiLevelConverter" />

    <property name="CONSOLE_LOG_PATTERN"
              value="%d{HH:mm:ss,Asia/Ho_Chi_Minh} %highlight(%emojiLevel) %clr([%logger{36}]){cyan} : %msg%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
